<%- include ("partials/header") %>
<style type="text/css">
.h5{
	border: 2px solid grey;
	width: 250px;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 420px;
	text-align: center;
	background-color: #e7f20a;
	color: #db0000;
}

body{
	padding-top: 20px;
	background-repeat: 100%;
	background-color: lightgrey;
}

.container{
	margin-top: 50px;
	border: 2px solid black;
	border-radius: 40px;
	width: 100%;
	height: auto;
	margin: auto center;
	padding-top: 30px;
	background-color: rgba(228,228,228,1);
	margin-bottom: 50px;
}

#hr{
	border: 2px solid black;
	border-radius: 15px;
	width: 965px;
	margin-bottom: 30px;
}

.l3{
	margin-left: 70px;
	margin-bottom: 40px;
}

.l2{
	margin-left: 107px;
	margin-bottom: 40px;
}

.l1{
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 40px;
}

.l5{	
	margin-left: 70px;
	margin-bottom: 40px;
}

.l4{
	margin-left: 106px;
	margin-bottom: 40px;
}

.l6{
	margin-left: 184px;
	margin-bottom: 40px;
}

.l7{
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 20px;
}

.l8{
	margin-left: 140px;
	margin-bottom: 20px;
}

.l9{
	margin-top: 30px;
	margin-left: 70px;
	margin-bottom: 45px;
}

.l11{
	margin-left: 70px;
	margin-bottom: 45px;
}

.l10{
	margin-left: 140px;
	margin-bottom: 45px;
}

.l12{
	margin-left: 140px;
	margin-bottom: 45px;
}

#desc{
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 45px;
	margin-right: 70px;
}

#casename{
	margin-left: 140px;
	width: 200px;
}

#cliname{
	margin-left: 146px;
	width: 200px;
}

#casetype{
	margin-left: 140px;
	margin-right: 70px;
	width: 200px;
}

#lawname{
	margin-left: 189px;
	margin-right: 70px;
	width: 200px;
}
input:focus {
	border: rgba(228,228,228,1);
}
#casedate{
	margin-left: 135px;
	
}

#lawid{
	margin-left: 90px;
	margin-right: 70px;
	width: 200px;
}

#first{
	margin-left: 40px;
	width: 200px;
}

#next{
	margin-left: 40px;
	width: 200px;
}



#status{
	margin-left: 144px;
	width: 200px;
}

#court{
	margin-left: 120px; 
	width: 200px;
}

#judge{
	margin-left: 155px;
	width: 200px;
}

#report{
	margin-left: 145px;
	width: 200px;
}
</style>
<% currentCase.forEach(function(casenow){%>
	<div class="container">	
<form method="/<%= casenow._id%>/negotiate" method="POST">
		<div>
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;" class="l1">CaseName</label>
			<label name="name" style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;" id="casename"><input style="background-color: rgba(228,228,228,1); border: rgba(228,228,228,1);" value="<%= casenow.name%>"></label>
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;" class="l2">ClientName</label>	
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;" id="casetype"><input style="background-color: rgba(228,228,228,1); border: rgba(228,228,228,1);" value="<%= casenow.author.name%>"></label>		
		</div>

		<div>
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;" class="l3">CaseType</label>
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;" id="cliname"><input style="background-color: rgba(228,228,228,1); border: rgba(228,228,228,1);" value="<%= casenow.type%>"></label>
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;" class="l4">Date</label>
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;" id="lawname"><input style="background-color: rgba(228,228,228,1); border: rgba(228,228,228,1);" value="<%= casenow.createdAt%>"></label>
		</div>

		<div>
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;" class="l5">Description</label>
			<label style="font-family: 'Crimson Text', serif; font-size: 16px;word-wrap: break-word; text-align: justify;width: 780px;" id="casedate"><input style="background-color: rgba(228,228,228,1); border: rgba(228,228,228,1);" value="<%= casenow.description%>"></label>
		</div>	

		<div>
			<a href="/<%= casenow._id%>/negotiate"><button type="button" class="btn btn-primary" style="margin-bottom: 30px; margin-top: 30px; margin-left: 70px;">Negotiate</button></a>
			<button type="button" class="btn btn-primary" style="margin-bottom: 30px; margin-top: 30px; margin-left: 435px">Reject</button>
		</div>	
	</form>	

</div>

<!-- <form>

   <div style="margin-bottom: 30px; margin-top: 30px;">

   		<label style="margin-left: 50px;word-wrap: break-word; text-align: justify;">CaseName</label>

   		<label style="width: 150px; margin-left: 70px;word-wrap: break-word; text-align: justify;">123</label>

   		<label style="margin-left: 350px;word-wrap: break-word; text-align: justify;">ClientName</label>

   		<label style="width: 150px; margin-left: 50px;word-wrap: break-word; text-align: justify;">123</label>
   </div>5e23030482b118130363d14f/cases
   <div style="margin-bottom: 30px;">

   		<label style="margin-left: 50px;word-wrap: break-word; text-align: justify;">CaseType</label>

   		<label style="width: 150px; margin-left: 75px;word-wrap: break-word; text-align: justify;">123</label>

   		<label style="margin-left: 350px;word-wrap: break-word; text-align: justify;">Date</label>

   		<label style="width: 150px; margin-left: 98px;word-wrap: break-word; text-align: justify;">123</label>
   </div>
   <div style="margin-bottom: 30px;">

   		<label style="margin-left: 50px;word-wrap: break-word; text-align: justify;">Description</label> 

   		<label style="width: 200px; margin-left: 62px;word-wrap: break-word; text-align: justify;">sdfhb asdfhis jahbdf djshfbjd jsdhfjd jsdhbfjdssdjbf jsd sdjfhbdsjb fsdihfbuseh fehbfuhewf ewufbuwef ehbuewf wefhbweufbwe</label>		
   </div>
</form> -->
<%});%>
<%- include ("partials/footer") %>